<h1>UNO Points Helper</h1>
<p>Play UNO in formal Way!</p>
<p>回数</p>
<div class="create-players">
  <%= form_with(url: "/", model: @player) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :point %>
    <%= f.number_field :point %>

    <%= f.submit "追加する", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to "Start Game", playing_path %>

