<div class="how-to-count">
  <h1>点数の数え方</h1>
  <p>0-9の数字カードはその数字の点数</p>
  <p>スキップ、リバース、ドロー2は20点</p>
  <p>ワイルド、ワイルドドロー4は50点</p>
</div>
<p>1/5</p>

<div class="player-list">
  <ol>
    <%= @players.each do |player| %>
      <%= player.name %>
      <a>:   </a>
      <%= player.points %>
      <%= form_for(@player, url: player_path(@player)) do |f| %>
        <%= f.label :points %>
        <%= f.text_field :points %>
        <%= f.hidden_field :id, :value=>player.id %>
        <%= f.submit "変更", class: "btn btn-primary" %>
      <% end %>

            <p></p>
    <% end %>
  </ol>
</div>
<%= link_to "確定", playing_path %>