<h1>UNO Points Helper</h1>
<p>Play UNO in formal Way!</p>

<div class="player-list">
  <p>プレイヤー設定</p>
  <%= @players.each do |player| %>
    <span><%= player.name %></span>
    <span><%= player.points %></span>
    <p></p>
  <% end %>
</div>

<%= render 'form' %>
<%= link_to "Start Game", playing_path %>