<div class="how-to-count">
  <h1>点数の数え方</h1>
  <p>0-9の数字カードはその数字の点数</p>
  <p>スキップ、リバース、ドロー2は20点</p>
  <p>ワイルド、ワイルドドロー4は50点</p>
</div>

<div class="player-list">
  <ol>
    <%= @players.each do |player| %>
      <%= player.name %>
      <a>:   </a>
      <%= player.points %>
      <%= link_to "編集", edit_player_path(player) %>

      <p></p>
    <% end %>
  </ol>
</div>

<%= button_to "ゲームを終了しますか？(データは全て削除されます。)", destroy_all_players_path, method: :delete %>
