= form_with model: @form, url: players_path, method: :post, local: true do |form|
  %table
    %thread
      %tr
        %th 名前
        %th ポイント
  %tbody
    = form.fields_for :products do |f|
      %tr
        %td
          = f.text_field :name
        %td
          = f.text_field :points
  = form.submit "一括登録"
  = link_to "戻る", :back
